* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('beach.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    padding: 2rem 2rem;
}

.current {
    display: flex;
    justify-content: space-around;
}
/* left */
.city {
    font-size: 2rem;
    font-weight: bold;
}

.date {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
}

.temp {
    margin-top: 1rem;
    font-size: 3.5rem;
    font-weight: bolder;
}

.weatherIcon {
    width: 7rem;
}
/* right */
.right,
.info,
.label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.info,
.label {
    gap: 5px;
}

.label {
    flex-direction: row;
}

.feel,
.humidity,
.uvContainer,
.wind {
    font-size: 1.5rem;
    font-weight: bolder;
}

.uvContainer {
    position: relative;
    display: inline-block;
}

.uvInfo {
    visibility: hidden;
    background-color: rgba(255,255,255,0.9);
    color: black;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -120%;

}

.uvContainer:hover .uvInfo {
    visibility: visible;
}

img[src="info.png"]:hover {
    cursor: pointer;
}

img[src="season.png"] {
    width: 70px;
    height: 70px;
}

img[src="hot.png"],
img[src="humidity.png"],
img[src="uv.png"],
img[src="wind.png"] {
    width: 24px;
    height: 24px;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#locationInput {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.subContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#weatherBtn {
    cursor: pointer;
}

.inputError,
.searchError {
    height: 1rem;
    color: red;
    font-weight: bold;
}

.label span {
    font-weight: bold;
}

/* hour */
.hourContainer {
    display: flex;
    width: 80vw;
    overflow: auto;
}

.hourSubContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.hour {

}

.weatherImg {

}

.chanceOfRain {

}

.hourTemp {

}
